@font-face {
    font-family: KhmerOS_SRFont;
    src: url(/Font/KhmerOSsiemreap.ttf);
}
@font-face {
    font-family: KhmerOS_NirothFont;
    src: url(/fonts/Khmer_OS_Niroth_Regular.ttf);
}
.KhmerOS_SR {
    font-family: KhmerOS_SRFont;
}
.KhmerOS_Niroth {
    font-family: KhmerOS_NirothFont;
}
body
{
  max-width:1200px;
  margin: 0 auto; /* Center the container horizontally */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe Color Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header{
  background-color: #98bf21;
  padding-top: 20px;
  padding-bottom: 20px;
  /* កំណត់ Menu នៅនឹង */
  position:sticky;
  top: 0;
}
a:link.HL,a:visited.HL
{
    color:#FFFFFF;
    background-color:#98bf21;
    width:200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
    padding-bottom: 20px;
    text-decoration:none;
    margin: 0px;
    font-size: 18px;    
}
a:hover.HL,a:active.HL
{
    background-color:#7A991A;    
}

div.BigFrame img{
    max-width:1200px ;
}
/* NewsFrame */
div.NewsFrame{
    position: static;
    margin: 5px;
    padding: 5px;   
    /* height: auto; */
    width: 375px;
    float: left;
    text-align: center;
    border: 1px solid #cccccc;
    min-height: 420px;
}
div.NewsFrame img{
    margin: 5px;
    width: 365px;
    border: 1px solid #ffffff;
}
div.NewsFrame  a:hover img {
    opacity: 0.8;
}

div.NewsFrame div.NewsTitle {
  text-align: left;
  font-weight: normal;
  width: auto;
  margin: 5px;
  font-size: 20px;
  color: #1c468e;
}
div.NewsFrame div.desc {
  text-align: justify;
  font-weight: normal;
  width: auto;
  margin: 5px;
}
div.CollaborationFrame{
  position: static;
  margin: 5px;
  padding: 5px;  
  height: auto;
  width: 275px;
  float: left;
  text-align: center;
  border: 1px solid #cccccc;
  min-height: 280px;
}
div.CollaborationFrame img{
    margin: 5px;
    width: 265px;
    border: 1px solid #ffffff;
}
div.CollaborationFrame a:hover img {
    opacity: 0.6;
}

footer{
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#98bf21;
  color: white;
  text-align: center;
  font-family: KhmerOS_SRFont;
  font-size: 18px;
  clear: left;
}

div.Title{
  display: block;
  text-align: left;
  padding: 5px 10px;
  font-size: 28px; 
}
div.Content{
  text-align: left;
  padding: 10px 10px;  
  line-height: 1.6;
  font-family: KhmerOS_SRFont;
  font-size: 18px;
}